<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Tech Vision</title>
  </head>

  <body>
    <h1>About</h1>
    <p>This is website for Technology Review.</p>
  </body>
</html>
