<div class="panel panel-primary"style ="width :67%;margin-left:8%">
  <div class="panel-heading"><%if @comments == nil%>
    <span>0 Comment</span>
  </div>
  <div class="panel-body">
    <%else%>
      <span><%=  @comments.size%>Comment</span>
  </div>
  <div class="panel-body">
    <% @comments.each do |comment|%>
      <hr>
      <div>
        <%= comment.content %>
      </div>
      <span class="timestamp">
        <i>Posted <%= time_ago_in_words(comment.created_at) %> ago.</i>

        <%= link_to "delete", review_comment_path(comment.review, comment), method: :delete,
                       data: { confirm: "You sure?" } %>

        <br><br>
      </span>
    <% end %>
  </div>
</div>
<%end%>
