<div>
  <%= form_for [@review, @comment] do |f| %>
    <%= f.text_area :content, placeholder: t(:Comment_here, scope: "reviews.show") %>
    <%= f.submit t(:Send, scope: "reviews.show"), class: "btn btn-primary" %>
  <% end %>
</div>
