<br>
<h3> New Review</h3>
<div class="container">
  <div class="row">
    <div class="col-md-8 row">
      <div class="form-group">
        <label>Tagsinput Autocomplete</label>
        <input type="text"  id="autocomplete" class="form-control" />
        <button class="btn btn-sm btn-primary">add</button>
      </div>
<%= render "form" %>
<script>
      $('#autocomplete').autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/hashtags", // should be with '/'
            data: { name: request.term },
            dataType: 'json',
            success: function(data) {
              response($.map(data, function(dataItem) {
                  return { value: dataItem.name, data: dataItem.id };
              }));
            },
          });
        },
        select: function(event, ui) {
          $("#hashtag_name_ul").append("<li>"+ ui.item.value + "<input type = 'hidden' name='review[hashtag_ids][]' value='" + ui.item.data + "'></li>");


        },
        // onSelect: function (suggestion) {

        //   alert('You selected: ' + suggestion.value + ', ' + suggestion.data);

        // }
      });
    </script>
