<% if current_user.bookmarks.include?(@bookmark) %>
<h3><span class="label label-default"><%= t(:bookmarked, scope: "reviews.show") %></span></h3>
<% else %>
<%= form_for [@review, @bookmark], remote: true do |f| %>
  <%= f.hidden_field :review_id, value: @review.id %>
  <%= f.submit t(:bookmark, scope: "reviews.show"), id: "bookmark_button", class: "btn btn-primary " %>
<% end %>
<% end %>